*{
    padding: 0;
    margin:0;
    font-family: poppins;
    text-transform: uppercase;
}
.header{
    font-size: 2rem;
    padding-bottom: 0px;
}
.container{
    padding: 10px;
}
.sub-container{
    background-color: aqua;
}
.sub_header{
    font-size: 1.5rem;
    padding-bottom: 10px;
}
.with_with_out_bonus_container{
    font-size: 1.2rem;
}
.mark_container,.extra_activity_container{
    padding: 10px;
    font-size: 1.3rem;
}
/*vibaration*/
@keyframes smoothVibrate {
    0% { transform: translate(0); }
    10% { transform: translate(-5px, 5px); }
    20% { transform: translate(5px, -5px); }
    30% { transform: translate(-10px, 10px); }
    40% { transform: translate(10px, -10px); }
    50% { transform: translate(-15px, 15px); }
    60% { transform: translate(15px, -15px); }
    70% { transform: translate(-10px, 10px); }
    80% { transform: translate(10px, -10px); }
    90% { transform: translate(-5px, 5px); }
    100% { transform: translate(0); }
}

.vibrate {
    animation: smoothVibrate 1s ease infinite; /* Smooth and gentle vibration */
}